# Auto detect text files and perform LF normalization
* text=auto

# Keep dotfiles and repo docs out of packaged archives.
.* export-ignore
CHANGELOG.md export-ignore
README.md export-ignore
LICENSE-NOTES.md export-ignore
